# Kelvin
T 0
# meV
E_F 0
# m/s
v_F 1.5e3
# meV
photon_energy 5.25
# MV / cm
field_amplitude 1.6
# in units of the photon energy
band_width 100
data_dir cl1_2_cycle
# continuous, cosine
laser_type cosine
n_laser_cycles 2
n_z 1000
# in fs
decay_time -1
# yes/no/only
debug_data no
# Dirac, PiFlux
system_type Dirac
