# Kelvin
T 300
# meV
E_F 118
# m/s
v_F 1e6
# meV, for exp in units of the experimental data
photon_energy 1
# MV / cm, for exp in units of the experimental data
field_amplitude 1
# in units of the photon energy
band_width 3300
# continuous, cosine, exp, expA, expB
laser_type exp
# in factors of pi => 0.5 turns cos(omega t) to -sin(omega t)
# reused for the temporal delay between the two experimental pulses in ps
t0_offset 0
n_laser_cycles 4
data_dir test
n_z 100
# in fs
diagonal_relaxation_time 30
# in fs, -1 means its the same as the diagonal rate
offdiagonal_relaxation_time -1
# yes/no/only
debug_data no
# yes/no/only
occupations no
# yes/no/only
split_current no
# Dirac, PiFlux, Honeycomb
system_type Honeycomb