# Kelvin
T 300
# meV
E_F 118
# m/s
v_F 1.5e5
# meV
photon_energy 5.25
# MV / cm
field_amplitude 1.6
# in units of the photon energy
band_width 400
# continuous, cosine
laser_type cosine
# in factors of pi => 0.5 turns cos(omega t) to -sin(omega t)
t0_offset 0.5
n_laser_cycles 4
data_dir test05
n_z 100
# in fs
decay_time -1
# yes/no/only
debug_data no
# Dirac, PiFlux
system_type PiFlux