# Kelvin
T 0
# meV
E_F 0
# m/s
v_F 1.5e5
# meV
photon_energy 5.25
# MV / cm
field_amplitude 1.6
# in units of the photon energy
band_width 400
data_dir test
# continuous, cosine
laser_type cosine
n_laser_cycles 4
n_z 100
# in fs
decay_time -1
# yes/no/only
debug_data yes
# Dirac, PiFlux
system_type PiFlux